 <header class="navbar navbar-fixed-top navbar-default">
      <div class="container">
          <%=link_to "CYMANSKI", destinations_path, id: "logo"%>
          <nav class="navbar-nav nav navbar-right" id="addPadding">
              <%=link_to "Destinations", destinations_path%>
              <%=link_to "New", new_destination_path%>
          </nav>
      </div>
</header>