 <header class="navbar navbar-fixed-top navbar-default">
      <div class="container">
          <%=link_to "CYMANSKI", trips_path, id: "logo"%>
          <nav class="navbar-nav nav navbar-right" id="addPadding">
              <%=link_to "Trips", trips_path%>
              <%=link_to "New", new_trip_path%>
          </nav>
      </div>
</header>
